<div class="page-header">
  <div class="page-header-title">
    <h4>{{word.testing_list[lang]}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <app-card>
          <div class="row">
              <div class="col-lg-3" align="left">
                  <input
                    type='text'
                    class="form-control input-sm m-l-10"
                    placeholder='{{word.search_testing[lang]}}'
                    (keyup)='updateFilter($event)'
                  />
                </div>
              <div class="col-lg-9" align="right">
               <button routerLink="/add-testing" class="btn btn-primary"><i class="icofont icofont-plus m-r-5"></i>{{word.add_testing[lang]}}</button>
              </div>
         </div>
         <br>
          <ngx-datatable
            class='data-table scroll'
            [rows]='set_row'
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="55"
            [scrollbarV]="true"
            [selected]="selected"
            [selectionType]="'single'"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'
            (page)="onPage($event)">
            <ngx-datatable-column [maxWidth]=120 headerClass="head_center" cellClass="head_center" name="{{word.no[lang]}}" prop="test_id" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['test_id']}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{word.task[lang]}}"  headerClass="head_center" prop="program_name" >
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [innerHTML]="row['program_name']"></p>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{word.test_the_time[lang]}}" [maxWidth]=150 headerClass="head_center" prop="test_no" >
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [innerHTML]="row['test_no']"></p>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{word.testing_date[lang]}}" [maxWidth]=150 headerClass="head_center" prop="date_test" >
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['date_test'] | date:'dd-MM-yyyy '}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{word.tester[lang]}}" headerClass="head_center" prop="label" >
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <p [innerHTML]="row['label']"></p>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{word.manage[lang]}}" [maxWidth]=250  headerClass="head_center" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button   (click)="update_testing(row['test_id'])" style="color:aliceblue;" class="btn btn-warning" placement="bottom" popovertitle="Warning color states" type="button" ng-reflect-ngb-popover="[object Object]" ng-reflect-popover-title="Warning color states" ng-reflect-placement="bottom">
                        <i class="fa fa-edit"></i>{{word.edit[lang]}}</button>
                    <button  (click)="delete_testing(row['test_id'],row['task_id'],$event)" style="color:aliceblue;" class="btn btn-danger" placement="bottom" popovertitle="Danger color states" type="button" ng-reflect-ngb-popover="[object Object]" ng-reflect-popover-title="Danger color states" ng-reflect-placement="bottom">
                        <i class="fa fa-trash"></i>{{word.delete[lang]}}</button>
                  </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>  
      </app-card>
  </div>
</div>