<div class="page-header">
  <div class="page-header-title">
    <h4>{{word.report_track[lang]}}</h4>
  </div>
</div>
<div class="row">
<div class="col-lg-12">

    <app-card>
      <h4 class="sub-title">{{word.condition_searching[lang]}}</h4>
      <div class="form-group row">
          <label align="right" class="col-sm-2 col-form-label">{{word.duration[lang]}} : </label>
          <div class="col-sm-2">
            <input [(ngModel)]="start_date" type="date" style="width: 160px;" class="form-control">
          </div>
          <label align="center" class="col-sm-1 col-form-label">{{word.to[lang]}}</label>
          <div class="col-sm-2">
              <input [(ngModel)]="end_date" type="date" style="width: 160px;" class="form-control">
          </div>
          <div class="col-sm-2">
            <button (click)="show_report_track()" class="btn btn-primary" placement="bottom"  type="button" ><i class="fa fa-search"></i> {{word.search[lang]}}</button>
          </div>
      </div>
    </app-card>

    <app-card *ngIf="check_show_report == true">
      <div class="row">
          <div class="col-lg-3" align="left">
            <input
              type='text'
              class="form-control input-sm m-l-10"
              placeholder='{{word.search_task[lang]}}'
              (keyup)='updateFilter($event)'
             />
          </div>
        <div class="col-lg-9" align="right">
          <button (click)="print()" class="btn btn-inverse"><i class="fa fa-print"></i> {{word.print[lang]}}</button>
        </div>
      </div><br>
        <ngx-datatable
          id='export'
          class='data-table scroll'
          [rows]='set_row'
          [columnMode]="'force'"
          [headerHeight]="50"
          [rowHeight]="55"
          [scrollbarV]="true"
          [selected]="selected"
          [selectionType]="'single'"
          (activate)="onActivate($event)"
          (select)='onSelect($event)'
          (page)="onPage($event)">
          <ngx-datatable-column [maxWidth]=100 headerClass="head_center" cellClass="head_center" name="{{word.no[lang]}}" prop="index" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row['index']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [minWidth]=200 headerClass="head_center" name="{{word.task[lang]}}" prop="program_name" >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row['program_name']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="head_center" name="{{word.tracing[lang]}}" prop="follow">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row['follow']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="head_center"  name="{{word.status[lang]}}" prop="task_status_name">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row['task_status_name']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="head_center" name="{{word.expect_start_date[lang]}}" prop="expect_start_date">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row['expect_start_date']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="head_center" name="{{word.start_date[lang]}}" prop="min">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row['min']}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column headerClass="head_center"  name="{{word.responsible_person_project[lang]}}" prop="first_name">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                 {{row['first_name']+' '+row['last_name']}}
              </ng-template>
            </ngx-datatable-column>

          
        </ngx-datatable>  
      
    </app-card>

</div>
</div>
